{% extends 'base.html' %}

{% block content %}

<body style="background-image: url({{image_of_the_day}}); background-repeat:
    no-repeat; background-attachment: fixed; background-size: cover; background-position: center;">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">Den Internationale Rumstation</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#create">Opret
                            ny begivenhed</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#events">Begivenheder</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#calendar">Kalender</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center" id="create">
        <div class="container d-flex align-items-center flex-column">
            <!-- Masthead Avatar Image-->
            <!-- <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="..." /> -->
            <!-- Masthead Heading-->
            <h1 class="masthead-subheading text-uppercase mb-0" style="font-size: 2em;">Opret ny begivenhed</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="masthead-subheading font-weight-light mb-0" style="font-size: 1em;">Felter med * skal udfyldes —
                Tidspunkt og slut dato udfyldes automatisk</p>
        </div>
        <div class="container">
            <!-- Contact Section Form-->
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <form id="contactForm" method="post">
                        <!-- input_title input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="input_title" name="input_title" type="text"
                                placeholder="Titlen på begivenheden..." data-sb-validations="required"
                                style="background-color: #4267B2; color:white;" />
                            <label for="input_title" style="color: white;">Titlen på begivenheden *</label>
                            <div class="invalid-feedback" data-sb-feedback="input_title:required">A title is required.
                            </div>
                        </div>
                        <!-- input_host input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="input_host" name="input_host" type="text"
                                placeholder="Vært for begivenheden..."
                                style="background-color: #4267B2; color:white;" />
                            <label for="input_host" style="color: white;">Vært</label>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-3" style="width: 50%;">
                                <input class="form-control" id="input_start_date" name="input_start_date" type="date"
                                    placeholder="" data-sb-validations="required"
                                    style="background-color: #4267B2; color:white;color-scheme: dark;" />
                                <label for="input_start_date" style="color: white;padding-left: 0.7em;">Start dato
                                    *</label>
                                <div class="invalid-feedback" data-sb-feedback="input_start_date:required">A start date
                                    is required.
                                </div>
                            </div>
                            <div class="form-floating mb-3" style="width: 50%;">
                                <input class="form-control" id="input_start_time" name="input_start_time" type="time"
                                    placeholder=""
                                    style="background-color: #4267B2; color:white; color-scheme: dark;" />
                                <label for="input_start_time" style="color: white;padding-left: 0.7em;">Start
                                    tidspunkt</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-floating mb-3" style="width: 50%;">
                                <input class="form-control" id="input_end_date" name="input_end_date" type="date"
                                    placeholder="" style="background-color: #4267B2; color:white;color-scheme: dark;" />
                                <label for="input_end_date" style="color: white;padding-left: 0.7em;">Slut dato</label>
                            </div>
                            <div class="form-floating mb-3" style="width: 50%;">
                                <input class="form-control" id="input_end_time" name="input_end_time" type="time"
                                    placeholder=""
                                    style="background-color: #4267B2; color:white; color-scheme: dark;" />
                                <label for="input_end_time" style="color: white;padding-left: 0.7em;">Slut
                                    tidspunkt</label>
                            </div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="input_desc" name="input_desc" type="text"
                                placeholder="Giv en beskrivelse af begivenheden..."
                                style="height: 10rem;background-color: #4267B2; color:white;"></textarea>
                            <label for="input_desc" style="color: white;">Beskrivelse</label>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Begivenheden blev oprettet succesfuldt!</div>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage">
                            <div class="text-center text-danger mb-3">Fejl ved oprettelse af begivenhed!</div>
                        </div>
                        <!-- Submit Button-->
                        <input type="hidden" name="input_index">
                        <button class="btn btn-secondary btn-xl" id="submitButton" name="input_button" type="submit"
                            value="Create event" action="{{url_for('index', key=appkey)}}">Opret</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="events">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Begivenheder</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                {% for event in data %}
                <!-- Portfolio Item 1-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#event{{ loop.index0 }}"
                        style="background-color: rgb(49,51,53); color: white;">
                        <div
                            class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <div style="background-color: #4267B2; width: 100%;">
                            <h2 style="padding: 0.5em; text-align: center; font-size: 1.5em;">{{ event.title }}</h2>
                        </div>
                        <div class="row center" style="text-align: center; padding-top: 0.5em;">
                            <div style="width: 50%; padding-left: 2.5em; text-align: left;">
                                <p>Start</p>
                            </div>
                            <div style="width: 50%; padding-right: 2.5em; text-align: right;">
                                {% if not event.start_time|length %}
                                <p>{{ event.start_date }}</p>
                                {% else %}
                                <p>{{ event.start_date }} — {{ event.start_time }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% if event.end_date|length %}
                        <div class="row center" style="text-align: center;">
                            <div style="width: 50%; padding-left: 2.5em; text-align: left;">
                                <p>Slut</p>
                            </div>
                            <div style="width: 50%; padding-right: 2.5em; text-align: right;">
                                {% if not event.end_time|length %}
                                <p>{{ event.end_date }}</p>
                                {% else %}
                                <p>{{ event.end_date }} — {{ event.end_time }}</p>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="calendar">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Kalender</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <p class="lead mb-0" style="text-align: center;">De fælles Begivenheder kan meget nemt tilføjes til din
                kalender på din mobil eller computer.</p>
            <p class="lead mb-3" style="text-align: center;">Du skal blot abonnerer på denne url i din kalender app.</p>
            <p class="lead mb-3" style="text-align: center;">Klik for at kopiere!</p>
            <!-- About Section Button-->
            <div class="text-center mt-4 mb-5">
                <button class="btn btn-xl btn-outline-light" id="calendar_link" onclick="navigator.clipboard.writeText('http://rumstationen.com/calendar')">
                    <i class="fas fa-clipboard me-2" aria-hidden="true"></i>
                    http://rumstationen.com/calendar
                </button>
            </div>
            <p class="mb-0" style="text-align: center;">Kopier manuelt</p>
            <p class="mb-0" style="text-align: center;">http://rumstationen.com/calendar</p>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">NASA Image of the day</h4>
                    <p class="lead mb-0">
                        <a href="https://apod.nasa.gov/apod/astropix.html?">{{ nasa_title }}</a>
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">rumstationen</h4>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/groups/200164475315350"><i
                            class="fab fa-fw fa-facebook-f"></i></a>
                    <!-- <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i
                            class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#!"><i class="fab fa-fw fa-dribbble"></i></a> -->
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Fejl ?</h4>
                    <p class="lead mb-0">
                        Giv Marc skylden og informer Sam.
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>Rumstationen er en kunstigt skabt konstruktion, der har til formål at tillade vores familie at leve i rummet udenfor samfundets atmosfære.</small></div>
    </div>
    <!-- Portfolio Modals-->
    <!-- Portfolio Modal 1-->
    {% for event in data %}
    <div class="portfolio-modal modal fade" id="event{{ loop.index0 }}" tabindex="-1"
        aria-labelledby="event{{ loop.index0 }}" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal"
                        aria-label="Close"></button></div>
                <div class="modal-body text-center pb-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Contact Section-->
                                <section class="page-section" id="contact">
                                    <div class="container">
                                        <!-- Contact Section Form-->
                                        <div class="row justify-content-center">
                                            <div class="col-lg-8 col-xl-7">
                                                <form id="contactForm" method="post">
                                                    <!-- input_title input-->
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="input_title" name="input_title"
                                                            type="text" placeholder="Titlen på begivenheden..."
                                                            value="{{ event.title }}"
                                                            data-sb-validations="required" />
                                                        <label for="input_title">Titlen på begivenheden *</label>
                                                        <div class="invalid-feedback"
                                                            data-sb-feedback="input_title:required">A title is required.
                                                        </div>
                                                    </div>
                                                    <!-- input_host input-->
                                                    <div class="form-floating mb-3">
                                                        <input class="form-control" id="input_host" name="input_host"
                                                            type="text" placeholder="Vært for begivenheden..."
                                                            value="{{ event.host }}" />
                                                        <label for="input_host">Vært</label>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-floating mb-3" style="width: 50%;">
                                                            <input class="form-control" id="input_start_date"
                                                                name="input_start_date" type="date" placeholder=""
                                                                data-sb-validations="required" style="font-size: 1.1em;"
                                                                value="{{ event.start_date}}" />
                                                            <label for="input_start_date"
                                                                style="padding-left: 0.7em; font-size: 1.2em;">Start
                                                                dato *</label>
                                                            <div class="invalid-feedback"
                                                                data-sb-feedback="input_start_date:required">A start
                                                                date is required.
                                                            </div>
                                                        </div>
                                                        <div class="form-floating mb-3" style="width: 50%;">
                                                            <input class="form-control" id="input_start_time"
                                                                name="input_start_time" type="time" placeholder=""
                                                                style="font-size: 1.1em;"
                                                                value="{{ event.start_time }}" />
                                                            <label for="input_start_time"
                                                                style="padding-left: 0.7em; font-size: 1.2em;">Start
                                                                tidspunkt</label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-floating mb-3" style="width: 50%;">
                                                            <input class="form-control" id="input_end_date"
                                                                name="input_end_date" type="date" placeholder=""
                                                                style="font-size: 1.1em;"
                                                                value="{{ event.end_date }}" />
                                                            <label for="input_end_date"
                                                                style="padding-left: 0.7em; font-size: 1.2em;">Slut
                                                                dato</label>
                                                        </div>
                                                        <div class="form-floating mb-3" style="width: 50%;">
                                                            <input class="form-control" id="input_end_time"
                                                                name="input_end_time" type="time" placeholder=""
                                                                style="font-size: 1.1em;"
                                                                value="{{ event.end_time }}" />
                                                            <label for="input_end_time"
                                                                style="padding-left: 0.7em; font-size: 1.2em;">Slut
                                                                tidspunkt</label>
                                                        </div>
                                                    </div>
                                                    <!-- Message input-->
                                                    <div class="form-floating mb-3">
                                                        <textarea class="form-control" id="input_desc" name="input_desc"
                                                            type="text"
                                                            placeholder="Giv en beskrivelse af begivenheden..."
                                                            style="height: 10rem;">{{ event.description }}</textarea>
                                                        <label for="input_desc">Beskrivelse</label>
                                                    </div>
                                                    <!-- Submit success message-->
                                                    <!---->
                                                    <!-- This is what your users will see when the form-->
                                                    <!-- has successfully submitted-->
                                                    <div class="d-none" id="submitSuccessMessage">
                                                        <div class="text-center mb-3">
                                                            <div class="fw-bolder">Begivenheden blev oprettet
                                                                succesfuldt!</div>
                                                        </div>
                                                    </div>
                                                    <!-- Submit error message-->
                                                    <!---->
                                                    <!-- This is what your users will see when there is-->
                                                    <!-- an error submitting the form-->
                                                    <div class="d-none" id="submitErrorMessage">
                                                        <div class="text-center text-danger mb-3">Fejl ved oprettelse af
                                                            begivenhed!</div>
                                                    </div>
                                                    <!-- Submit Button-->
                                                    <input type="hidden" name="input_index" value="{{ loop.index0 }}">
                                                    <button class="btn btn-secondary btn-xl" id="submitButton"
                                                        name="input_button" type="submit" value="Save"
                                                        action="{{url_for('index', key=appkey)}}">Opdater</button>
                                                    <button class="btn btn-secondary btn-xl" id="submitButton"
                                                        name="input_button" type="submit" value="Delete"
                                                        action="{{url_for('index', key=appkey)}}" onclick="return confirm('Er du sikker på at du vil slette begivenheden &quot;{{ event.title }}&quot; ?')">Slet</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <button class="btn btn-primary" data-bs-dismiss="modal">
                                    <i class="fas fa-xmark fa-fw"></i>
                                    Close Window
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    {% endblock %}