{% extends 'base.html' %}

{% block content %}


<!-- Contact Section-->

<body style="height: 100%; width:100%;background: black;">
    <div
        style="background-image: url({{ url_for('fetch_thumbnail', filename='hd_image.jpg') }}), url({{ url_for('fetch_thumbnail', filename='image.jpg') }}); background-repeat:
    no-repeat; background-attachment: fixed; background-size: cover; background-position: center; height: inherit; width: inherit;">
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-subheading-login text-center text-uppercase login-top" style="
                    color:#4267B2;
                    mix-blend-mode: color-dodge;
                    text-shadow: -.04ex -.04ex 0 #fff, .04ex -.04ex 0 #fff, -.04ex .04ex 0 #fff, .04ex .04ex 0 #fff;">
                    Den Internationale</h2>
                <!-- <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0"
            style="font-size: 4em; text-shadow: 2px 2px gray;">Rumstation</h1> -->
                <h1 class="page-section-heading-login text-center text-uppercase" style="
                    color:#4267B2;
                    mix-blend-mode: color-dodge;
                    text-shadow: -.02ex -.02ex 0 #fff, .02ex -.02ex 0 #fff, -.02ex .02ex 0 #fff, .02ex .02ex 0 #fff;">
                    Rumstation</h1>
                <!-- <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0"
            style="font-size: 4em; background: linear-gradient(to right, #4568DC 0%, #B06AB3  100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-size: 100%;padding: .2em;">Rumstation</h1> -->
                <!-- Icon Divider-->
                <div class="divider-custom" style=" margin-top: 0.7rem;">
                    <div class="divider-custom-line-login"
                        style="background: #4267B2; mix-blend-mode: color-dodge;text-shadow: -.1vw -.1vw 0 #fff, .1vw -.1vw 0 #fff, -.1vw .1vw 0 #fff, .1vw .1vw 0 #fff; max-width: 40rem;">
                    </div>
                    <!-- <div class="divider-custom-icon"><i class="fas fa-star"></i></div> -->
                    <!-- <div class="divider-custom-line"></div> -->
                </div>
                <!-- Contact Section Form-->
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xl-7">
                        <form id="contactForm" method="post">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="appkey" name="appkey" type="password"
                                    placeholder="Enter the password..." data-sb-validations="required"
                                    style="background: rgba(255, 255, 255, 0.2); border-radius: 0.5em;color: white;" />
                                <label for="appkey" style="color: white;">Password</label>
                                <div class="invalid-feedback" data-sb-feedback="appkey:required">A password is required.
                                </div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Login successful!</div>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage">
                                <div class="text-center text-danger mb-3">Login failed!</div>
                            </div>
                            <!-- Submit Button-->
                            <button class="btn btn-primary btn-xl" id="submitButton" type="submit"
                                style="background: #4267B2; color:white; border: 0em; mix-blend-mode: color-dodge; box-shadow: -.075vw -.075vw 0 #fff, .075vw -.075vw 0 #fff, -.075vw .075vw 0 #fff, .075vw .075vw 0 #fff">Login</button>
                                <!-- <button class="btn btn-primary btn-xl" id="submitButton" type="submit"
                                    style="background-image: linear-gradient(to right, #4568DC 0%, #B06AB3  100%); border:0em;">Login</button> -->
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
{% endblock %}