{% extends 'plex_base.html' %}

{% block content %}

<body
    style="background-image: url({{image_of_the_day}}); background-repeat:
    no-repeat; background-attachment: fixed; background-size: cover; overflow-x: hidden; background-position: center; {% if request.cookies.get('theme') != 'light' %}background-color:#212529;{% endif %}">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top"><img class="masthead-avatar"
                    src="{{ url_for('static', filename='plex/plex_white_yellow.png') }}" alt="..." style="width: 5rem;" ; /></a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    {% if not lock_user_to_site %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-2 rounded"
                            href="{{url_for('index', key=appkey)}}">Rumstationen</a></li>

                    {% if flask_settings.padel_tennis.enabled %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-2 rounded"
                            href="{{url_for('padel', key=appkey)}}">Padel Tennis</a></li>
                    {% endif %}

                    {% if flask_settings.hof.enabled %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-2 rounded"
                            href="{{url_for('hof', key=appkey)}}">Hall of Fame</a></li>
                    {% endif %}

                    {% if flask_settings.minecraft.enabled %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-2 rounded"
                            href="{{url_for('minecraft', key=appkey)}}">Minecraft</a></li>
                    {% endif %}

                    {% if flask_settings.plex.enabled %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-2 rounded"
                            href="{{url_for('plex', key=appkey)}}">Plex</a></li>
                    {% endif %}

                    {% endif %}
                    {% if request.cookies.get("theme") == "light" %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-2 rounded"
                            href="{{url_for('set_theme', page='plex', theme='dark', key=appkey)}}"><i
                                class="fas fa-moon"></i> dark</a></li>
                    {% else %}
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-2 px-0 px-lg-2 rounded"
                            href="{{url_for('set_theme', page='plex', theme='light', key=appkey)}}"><i
                                class="fas fa-sun"></i> light</a></li>
                    {% endif %}
                    <!-- <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#events">Begivenheder</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded"
                            href="#calendar">Kalender</a></li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead bg-primary text-white text-center" id="{{url_for('plex', key=appkey)}}" style="padding: 5rem;">
        <div class="container d-flex align-items-center flex-column">
        </div>
    </header>
    <!-- Portfolio Section-->
    <section class="page-section portfolio" id="events">
        <div class="">
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center" style="padding-left: 1rem;padding-right: 1rem;">
                <!-- Portfolio Item 1-->
                <div class="col-6 col-md-3 col-lg-3 mb-5">
                    <a href="https://plex.rumstationen.com" target="_blank" style="text-decoration: none">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                            style="background-color: rgb(var(--bs-secondary-rgb));color: white;">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <div style="background-color: var(--bs-primary); width: 100%;">
                                <h2 style="padding: 0.5em; text-align: center; font-size: 1.5em;">Watch
                                </h2>
                            </div>
                            <img id="Plex" class="img-fluid" src="{{ url_for('static', filename='plex/plex_logo.png') }}"
                                alt="Plex" style="width:100%; height: 100%; object-fit: cover;" />
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-3 col-lg-3 mb-5">
                    <a href="https://overseerr.rumstationen.com" target="_blank" style="text-decoration: none">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                            style="background-color: rgb(var(--bs-secondary-rgb));color: white;">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <div style="background-color: var(--bs-primary); width: 100%;">
                                <h2 style="padding: 0.5em; text-align: center; font-size: 1.5em;">Request
                                </h2>
                            </div>
                            <img id="Overseerr" class="img-fluid" src="{{ url_for('static', filename='plex/overseerr.png') }}"
                                alt="Overseerr" style="width:100%; height: 100%; object-fit: cover;" />
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-3 col-lg-3 mb-5">
                    <a href="https://apps.apple.com/us/app/prologue/id1459223267" target="_blank" style="text-decoration: none">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                            style="background-color: rgb(var(--bs-secondary-rgb));color: white;">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <div style="background-color: var(--bs-primary); width: 100%;">
                                <h2 style="padding: 0.5em; text-align: center; font-size: 1.5em;">Audiobooks (iOS)
                                </h2>
                            </div>
                            <img id="Prologue" class="img-fluid" src="{{ url_for('static', filename='plex/prologue_ios_color.png') }}"
                                alt="Prologue" style="width:100%; height: 100%; object-fit: cover;" />
                        </div>
                    </a>
                </div>
                <div class="col-6 col-md-3 col-lg-3 mb-5">
                    <a href="https://github.com/mattttvaughn/chronicle/releases/download/0.53.0/app-freeAsInBeer-release.apk" target="_blank" style="text-decoration: none">
                        <div class="portfolio-item mx-auto" data-bs-toggle="modal"
                            style="background-color: rgb(var(--bs-secondary-rgb));color: white;">
                            <div
                                class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i
                                        class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <div style="background-color: var(--bs-primary); width: 100%;">
                                <h2 style="padding: 0.5em; text-align: center; font-size: 1.5em;">Audiobooks (Android)
                                </h2>
                            </div>
                            <img id="Chronicle" class="img-fluid" src="{{ url_for('static', filename='plex/plexamp_android.png') }}"
                                alt="Chronicle" style="width:100%; height: 100%; object-fit: cover;" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="calendar" style="padding: 2rem;">
        <div class="container">
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
            <h4 class="text-uppercase mb-4">Discord Plex Announcements</h4>
            <a href="https://discord.gg/tmWspHHy">
                <img src="{{ url_for('static', filename='plex/discord_logo.png') }}" alt="discord" style="width: 10rem; height: 10rem; display: inline-block; object-fit: contain;">
            </a>
            </div>
        </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <div class="copyright py-4 text-center text-white">
        <div class="container"><small>To infinity and beyond!</small></div>
    </div>
    {% endblock %}